#logo{
    /* font-size: small;
    border-style: hidden; */
    height: 15vw;
    width: 20vw;
}
<<<<<<< HEAD
 .logo-color{
    background-color: rgb(255, 0, 140);
}
=======
.our-nav{
    background-color:  rgb(82, 194, 170);
}
nav .logo-text{
    margin-left: 20%;
    font-family: 'Fredoka One', cursive;
}
>>>>>>> 35cb88f1764047e87ba402c19f89cb3070f6b01e
