#logo{
    font-size: small;
    border-style: hidden;
    height: 15vw;
    width: 33vw;
}
.our-nav{
    background-color:  rgb(82, 194, 170);
}
nav .logo-text{
    margin-left: 20%;
    font-family: 'Fredoka One', cursive;
}